In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import warnings
warnings.filterwarnings("ignore")

import acquire
import prep
import split_scale

In [2]:
acquire.get_sql?

In [3]:
grossprops = acquire.wrangle_zillow()

In [4]:
grossprops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18639 entries, 0 to 18638
Data columns (total 62 columns):
bathroomcnt                     18639 non-null float64
bedroomcnt                      18639 non-null float64
calculatedfinishedsquarefeet    18639 non-null float64
taxvaluedollarcnt               18639 non-null float64
county                          18639 non-null object
tax_rate                        18639 non-null float64
id                              18639 non-null int64
parcelid                        18639 non-null int64
airconditioningtypeid           6547 non-null float64
airconditioningdesc             6547 non-null object
basementsqft                    12 non-null float64
buildingqualitytypeid           12842 non-null float64
calculatedbathnbr               18633 non-null float64
decktypeid                      140 non-null float64
finishedfloor1squarefeet        1485 non-null float64
finishedsquarefeet12            18589 non-null float64
finishedsquarefeet13            7 non-null float64
finishedsquarefeet15            2 non-null float64
finishedsquarefeet50            1485 non-null float64
finishedsquarefeet6             41 non-null float64
fips                            18639 non-null float64
state                           18639 non-null object
fireplacecnt                    2222 non-null float64
fullbathcnt                     18633 non-null float64
garagecarcnt                    5563 non-null float64
garagetotalsqft                 5563 non-null float64
hashottuborspa                  476 non-null float64
heatingorsystemtypeid           12937 non-null float64
heatingorsystemdesc             12937 non-null object
latitude                        18639 non-null float64
longitude                       18639 non-null float64
lotsizesquarefeet               18639 non-null float64
poolcnt                         4509 non-null float64
poolsizesum                     266 non-null float64
pooltypeid10                    134 non-null float64
pooltypeid2                     342 non-null float64
pooltypeid7                     4164 non-null float64
propertycountylandusecode       18639 non-null object
propertylandusetypeid           18639 non-null float64
propertylandusedesc             18639 non-null object
propertyzoningdesc              12901 non-null object
rawcensustractandblock          18639 non-null float64
regionidcity                    18275 non-null float64
regionidcounty                  18639 non-null float64
regionidneighborhood            7554 non-null float64
regionidzip                     18633 non-null float64
roomcnt                         18639 non-null float64
threequarterbathnbr             2128 non-null float64
unitcnt                         12917 non-null float64
yardbuildingsqft17              654 non-null float64
yardbuildingsqft26              22 non-null float64
yearbuilt                       18622 non-null float64
numberofstories                 4377 non-null float64
fireplaceflag                   23 non-null float64
structuretaxvaluedollarcnt      18624 non-null float64
assessmentyear                  18639 non-null float64
landtaxvaluedollarcnt           18639 non-null float64
taxamount                       18639 non-null float64
taxdelinquencyflag              638 non-null object
taxdelinquencyyear              638 non-null float64
censustractandblock             18614 non-null float64
transactiondate                 18639 non-null object
dtypes: float64(51), int64(2), object(9)
memory usage: 8.8+ MB

In [5]:
grossprops.head()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,county,tax_rate,id,parcelid,airconditioningtypeid,airconditioningdesc,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,transactiondate
0,2.0,2.0,1144.0,239109.0,Ventura,0.013425,2506407,17295416,NaN,None,...,1.0,NaN,179753.0,2016.0,59356.0,3209.98,None,NaN,6.111006e+13,2017-05-16
1,7.5,5.0,6278.0,1389230.0,Ventura,0.010870,1596698,17208785,NaN,None,...,2.0,NaN,557044.0,2016.0,832186.0,15101.52,None,NaN,6.111008e+13,2017-05-01
2,1.5,3.0,1238.0,162481.0,Ventura,0.010938,1462158,17110420,NaN,None,...,2.0,NaN,115040.0,2016.0,47441.0,1777.18,None,NaN,6.111002e+13,2017-05-01
3,1.5,3.0,1396.0,565000.0,Ventura,0.011965,2520495,17059646,NaN,None,...,2.0,NaN,102000.0,2016.0,463000.0,6760.46,None,NaN,6.111001e+13,2017-05-01
4,5.5,3.0,4361.0,1562700.0,Ventura,0.011322,507870,17222974,NaN,None,...,2.0,NaN,834332.0,2016.0,728368.0,17692.72,None,NaN,6.111008e+13,2017-05-01

In [7]:
grossprops.describe()

,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,tax_rate,id,parcelid,airconditioningtypeid,basementsqft,buildingqualitytypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,18639.000000,18639.000000,18639.000000,1.863900e+04,18639.000000,1.863900e+04,1.863900e+04,6547.000000,12.000000,12842.000000,...,22.000000,18622.000000,4377.000000,23.0,1.862400e+04,18639.0,1.863900e+04,18639.000000,638.000000,1.861400e+04
mean,2.329229,3.125168,1831.181126,5.115606e+05,0.013260,1.510927e+06,1.283401e+07,1.884375,756.333333,6.634636,...,221.545455,1967.577489,1.425177,1.0,1.965540e+05,2016.0,3.151647e+05,6241.951004,14.065831,6.048206e+13
std,0.970814,0.986794,952.169130,6.698696e+05,0.006144,8.600526e+05,2.800759e+06,3.091720,424.486927,1.681142,...,172.914437,22.790095,0.537392,0.0,2.448407e+05,0.0,4.800303e+05,7755.302973,1.486324,2.058468e+11
min,1.000000,1.000000,242.000000,1.050400e+04,0.000141,3.490000e+02,1.071210e+07,1.000000,280.000000,1.000000,...,28.000000,1878.000000,1.000000,1.0,4.700000e+02,2016.0,2.250000e+03,19.920000,8.000000,6.037101e+13
25%,2.000000,2.000000,1214.000000,2.071050e+05,0.011698,7.731980e+05,1.143632e+07,1.000000,548.500000,6.000000,...,67.500000,1953.000000,1.000000,1.0,8.590550e+04,2016.0,8.174100e+04,2739.735000,14.000000,6.037302e+13
50%,2.000000,3.000000,1582.000000,3.685350e+05,0.012282,1.527727e+06,1.243708e+07,1.000000,670.000000,7.000000,...,195.000000,1967.000000,1.000000,1.0,1.406970e+05,2016.0,2.080470e+05,4586.810000,15.000000,6.037576e+13
75%,3.000000,4.000000,2179.000000,6.044115e+05,0.013505,2.254242e+06,1.402864e+07,1.000000,842.250000,8.000000,...,354.000000,1985.000000,2.000000,1.0,2.278292e+05,2016.0,3.921355e+05,7251.650000,15.000000,6.059032e+13
max,11.000000,11.000000,15450.000000,2.385837e+07,0.452884,2.982270e+06,1.629608e+08,13.000000,1809.000000,12.000000,...,648.000000,2015.000000,3.000000,1.0,7.893568e+06,2016.0,1.635060e+07,276797.830000,15.000000,6.111009e+13